﻿.d-table {
    justify-content: center;    
    top: 10px;
    height: 50%;
    width: 95%;
    bottom: 200px;
    left: 2.5%;
}

.header-fixed {
    width: 100%;
}

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }

        .header-fixed > tbody > tr:after,
        .header-fixed > thead > tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

    .header-fixed > tbody {
        overflow-y: auto;
        height: 300px;
    }

@media(min-width: 992px) {
    .header-fixed > tbody {
        overflow-y: auto;
        height: 185px;
    }
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}