﻿/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */

.content h1 {
    text-align: center;
}

.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}


    .content .content-footer p a {
        color: inherit;
        font-weight: bold;
    }

/*	--------------------------------------------------
	:: Disposición del contenido
	-------------------------------------------------- */
section {
    float: left;
}

.removeDat {
    z-index: 100;
}

.vista-previa {
    width: 20%;
    height: 669px;
    right: -270px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

aside {
    float: right;
    margin: 0 1.5%;
    margin-right: -600px;
    margin-top: -30%;
    width: 50%;
}



/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

    .panel .btn-group {
        margin: 15px 0 30px;
    }

        .panel .btn-group .btn {
            transition: background-color .3s ease;
        }

.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

    .table-filter tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .table-filter tbody tr td {
        padding: 10px;
        vertical-align: middle;
        border-top-color: #eee;
    }

    .table-filter tbody tr.selected td {
        background-color: #eee;
    }

    .table-filter tr td:first-child {
        width: 38px;
    }

    .table-filter tr td:nth-child(2) {
        width: 35px;
    }

/*	--------------------------------------------------
	:: Colors links button
	-------------------------------------------------- */

.btn a:link {
    text-decoration: none;
    color: white;
}

.btn a:visited {
    text-decoration: none;
    color: white;
}


.btn a:active {
    text-decoration: none;
    color: #ff0000;
}


.btn a:hover {
    text-decoration: underline;
    color: #999999;
}

/*	--------------------------------------------------
	:: above boostrap content width
	-------------------------------------------------- */

input, select, textarea {
    max-width: 100%;
}

.ckbox {
    position: relative;
}

    .ckbox input[type="checkbox"] {
        opacity: 0;
    }

    .ckbox label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .ckbox label:before {
            content: '';
            top: 1px;
            left: 0;
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            border-radius: 2px;
            border: 1px solid #bbb;
            background-color: #fff;
        }

    .ckbox input[type="checkbox"]:checked + label:before {
        border-color: #2BBCDE;
        background-color: #2BBCDE;
    }

    .ckbox input[type="checkbox"]:checked + label:after {
        top: 3px;
        left: 3.5px;
        content: '\e013';
        color: #fff;
        font-size: 11px;
        font-family: 'Glyphicons Halflings';
        position: absolute;
    }

.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}

    .table-filter .star.star-checked {
        color: #F0AD4E;
    }

    .table-filter .star:hover {
        color: #ccc;
    }

    .table-filter .star.star-checked:hover {
        color: #F0AD4E;
    }

.table-filter .media-photo {
    width: 35px;
}

.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}

.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}

.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

    .table-filter .media .title span {
        font-size: .8em;
        margin-right: 20px;
    }

        .table-filter .media .title span.pagado {
            color: #5cb85c;
        }

        .table-filter .media .title span.pendiente {
            color: #f0ad4e;
        }

        .table-filter .media .title span.cancelado {
            color: #d9534f;
        }

.table-filter .media .summary {
    font-size: 14px;
}

/*
    *
    * Style for autocomplete function
    *
*/

.ui-menu-item {
    border-style: solid;
    display: block;
    margin: 0;
    padding: 5px;
    background-color: #005971;
    left: -10px;
    color: white;
    border: none;
    border-bottom: white;
}

.ui-autocomplete {
    padding-left: 0px;
    z-index: 3;
}
