﻿@using Sceys.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Aceys Home";
}
<!DOCTYPE html>
<html>
<head>

    <!--Style-->
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/reset.css")
    <link href="~/Content/sweetalert.css" rel="stylesheet" />   
    <link href="~/Content/bootstrap.css" rel="stylesheet" />    
    <link href="~/Content/sceys/login.css" rel="stylesheet" />

    <!--Scripts-->
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/index.js"></script>

    @if (@TempData["Errors"] != null)
    {
        <script>
            $(document).ready(function () {
                swal("Error", "@TempData["Errors"]", "error");
            });
        </script>
    }
</head>
<body>
    <!-- Mixins-->
    <!-- Pen Title-->

    @Html.AntiForgeryToken()

    <div class="container login">  

        <div class="card">
        </div>
        <div class="card">
            <h1 class="title">Iniciar Sesión</h1>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="input-container">
                    @Html.TextBoxFor(m => m.Email, new { @id = "Username", @required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @required = "required" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="bar"></div>
                </div>
                    <div class="button-container">
                        <span>Recordar Contraseña</span>
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="roundedOne" name="check" checked />
                            <label for="roundedOne"></label>
                        </div>
                        <div class="bar"><br></div>
                    </div>
                    <div class="button-container">
                        <button><span>Comenzar</span></button>
                    </div>
            }
        </div>
        <div class="card alt">
            <div class="toggle">
                <img src="~/img/sena.png" alt="SENA" width='120' height='120' style="padding-top: 15px" />
            </div>
        </div>
    </div>

    <footer>
        <p><center style="color: white">&copy; @DateTime.Now.Year - Fábrica de Software</center></p>
    </footer>    
</body>
</html>