﻿@model IEnumerable<Sceys.Models.ExpedienteView>
@{
    ViewBag.Title = "Expedientes";
}
<link href="~/Content/sceys/main.css" rel="stylesheet" />
<link href="~/Content/sceys/dataTable.css" rel="stylesheet" />

<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Expedientes
                </li>
                @if (User.IsInRole("Instructores"))
                {
                    <li class="active"><i class="glyphicon glyphicon-list-alt"></i> Lista de Quejas</li>
                }
                else
                {
                    <li class="active"><i class="glyphicon glyphicon-list-alt"></i> Lista de Expedientes</li>
                }
            </ol>
        </div>
    </div>
</div>

<!--Lista de Expedientes-->
<div class="panel panel-primary">
    @if (User.IsInRole("Instructores"))
    {
        <div class="panel-heading">Quejas</div>
    }
    else
    {
        <div class="panel-heading">Expedientes</div>
    }
    <div class="panel-body">
        <section class="content center-block">
            <div class="row">
                <div class="col-md-8 divBuscar">
                    <div class="input-group pull-left">
                            @if (User.IsInRole("Instructores"))
                            {
                                <button class="btn btn-info">
                                    @Html.ActionLink("Nueva Queja", "registrarQueja")
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-info">
                                    @Html.ActionLink("Nuevo Expediente", "Create")
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <ul class="list-inline">
                            <li class="btn btn-success" onclick="activos()">Activos</li>
                            @if (!User.IsInRole("Instructores"))
                            {
                                <li class="btn btn-warning" onclick="inactivos()">Terminados</li>
                                <li class="btn btn-danger" onclick="cancelados()">Cancelados</li>
                                <li class="btn btn-default" onclick="todos()">Todos</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pull-left table-responsive">
                    <br />
                    <table id="tblIndex" name="tblIndex" class="table table-hover tblIndex">
                        <thead>
                            <tr class="">
                                <th></th>
                                <th>Documento</th>
                                <th>Aprendiz</th>
                                <th>Correo</th>
                                <th>Fecha</th>
                                <th>Detalles</th>
                                <th>Adjuntar Documentación</th>
                                <th>PDF</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (User.IsInRole("Instructores"))
                            {
                                foreach (var item in Model)
                                {
                                    if (item.estado == 0)
                                    {
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-hourglass"></span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.documento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.aprendiz)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.contacto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.fecha)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Detalles", "Details", new { id = item.ExpedienteId })
                                            </td>
                                            <td>
                                                @Html.ActionLink("Adjuntar", "adjuntarDocumentacion", new { Expedienteid = item.ExpedienteId })
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(model => item.expedientePDF)*@
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </td>
                                        </tr>
                                    }

                                }
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (item.estado == 0)
                                            {
                                                <span class="glyphicon glyphicon-hourglass"></span>
                                            }
                                            else if (item.estado == 1)
                                            {
                                                <span class="glyphicon glyphicon-ok"></span>
                                            }
                                            else if (item.estado == 2)
                                            {
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.documento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.aprendiz)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.contacto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.fecha)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Detalles", "Details", new { id = item.ExpedienteId }) |
                                        </td>

                                        <td>
                                            @*@Html.DisplayFor(model => item.expedientePDF)*@
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/Scripts/sceys/dataTable.js"></script>
<script src="~/Scripts/sceys/Manager.js"></script>
