<div class="row">
        <div class="col-md-8">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <label>Adjuntar Archivos</label>
                    <input type="text" class="search-query form-control" placeholder="Buscar Expediente" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
