﻿@model Sceys.Models.PersonaView

@{
    ViewBag.Title = "Registrar";
}

<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Personas
                </li>
                <li class="active">
                    <i class="glyphicon glyphicon-plus"></i> Nueva Persona
                </li>
            </ol>
        </div>
    </div>
</div>

<!--Nueva Persona-->
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Nueva Persona</div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-9">

                        <div class="panel panel-info">
                            <div class="panel-heading">Documento de Identidad</div>
                            <div class="panel-body">

                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.TipoDocumentoId, "Tipo Documento *")
                                    </a>
                                    @Html.DropDownList("TipoDocumentoId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Persona.TipoDocumentoId, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12" id="OtroTD" style="display:none">

                                    @Html.LabelFor(model => model.TipoDocumento.Descripcion, "¿Cuál?", new { id = "LblDescripcion" })
                                    @Html.EditorFor(model => model.TipoDocumento.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TipoDocumento.Descripcion, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.Documento, "Número del Documento *")
                                    </a>
                                    @Html.EditorFor(model => model.Persona.Documento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.Documento, "", new { @class = "text-danger" })

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <img src="~/Imagen/300x150.png" class="img-responsive" />
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Nombre Completo</div>
                            <div class="panel-body">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.PrimerNombre) *
                                    </a>
                                    @Html.EditorFor(model => model.Persona.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.PrimerNombre, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Persona.SegundoNombre)
                                    @Html.EditorFor(model => model.Persona.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.SegundoNombre, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.PrimerApellido) *
                                    </a>
                                    @Html.EditorFor(model => model.Persona.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.PrimerApellido, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Persona.SegundoApellido)
                                    @Html.EditorFor(model => model.Persona.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.SegundoApellido, "", new { @class = "text-danger" })

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Información de Contacto</div>
                            <div class="panel-body">

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.Correo) *
                                    </a>
                                    @Html.EditorFor(model => model.Persona.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.Correo, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                        @Html.LabelFor(model => model.Persona.Direccion) *
                                    </a>
                                    @Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Persona.Celular)
                                    @Html.EditorFor(model => model.Persona.Celular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.Celular, "", new { @class = "text-danger" })

                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                                    @Html.LabelFor(model => model.Persona.Telefono)
                                    @Html.EditorFor(model => model.Persona.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Persona.Telefono, "", new { @class = "text-danger" })

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading">Otra Información</div>
                            <div class="panel-body">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                @Html.LabelFor(model => model.Persona.TipoPersonaId, "Tipo Persona *")
                                            </a>
                                            @Html.DropDownList("TipoPersonaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Persona.TipoPersonaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12" id="OtroTP" style="display:none">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            @Html.LabelFor(model => model.TipoPersona.Descripcion, "¿Cuál?")
                                            @Html.EditorFor(model => model.TipoPersona.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TipoPersona.Descripcion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                               
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id='Aprendiz' style='display:none;'>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Aprendiz</div>
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.Aprendiz.Ficha) *
                                                    </a>
                                                    @Html.EditorFor(model => model.Aprendiz.Ficha, new { htmlAttributes = new { id = "Ficha", Value = (Model == null ? "0000" : Model.Aprendiz.Ficha), @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Aprendiz.Ficha, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.Regional.RegionalId, "Regional") *
                                                    </a>
                                                    @Html.DropDownList("RegionalId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Regional.RegionalId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.Centro.CentroId, "Centro") *
                                                    </a>
                                                    @Html.DropDownList("CentroId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Centro.CentroId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.Programa.ProgramaId, "Programa") *
                                                    </a>
                                                    @Html.DropDownList("ProgramaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Programa.ProgramaId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <a data-toggle="tooltip" data-placement="top" title="Éste campo es obligatorio">
                                                        @Html.LabelFor(model => model.TipoPrograma.TipoProgramaId, "Tipo del Programa") *
                                                    </a>
                                                    @Html.DropDownList("TipoProgramaId", null, "Seleccione Uno... ", htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.TipoPrograma.TipoProgramaId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--fin de registro-->


                            </div>

                        </div>

                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" value="Registrar" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="pull-left">
    <ul class="pager">
        <li>@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>

@if (@ViewBag.Error1 != null || @ViewBag.Error2 != null ||
                                                                                         @ViewBag.Error3 != null || @ViewBag.Error4 != null ||
                                                                                         @ViewBag.Error5 != null || @ViewBag.Error6 != null ||
                                                                                         @ViewBag.Error7 != null || @ViewBag.Error8 != null)
{
    <script>
        $(document).ready(function () {
            var alerta = "";

            if (@ViewBag.Error1 != "0") {
                alerta += "- El campo Tipo Documento es obligatorio. \n "
            }

            if (@ViewBag.Error2 != "0") {
                alerta += "- El campo Tipo Persona es obligatorio. \n "
            }

            if (@ViewBag.Error3 != "0") {
                alerta += "- Debes ingresar un número de contacto. \n "
            }

            if (@ViewBag.Error4 != "0") {
                alerta += "- El campo Centro es obligatorio. \n "
            }

            if (@ViewBag.Error5 != "0") {
                alerta += "- El campo Programa es obligatorio. \n "
            }

            if (@ViewBag.Error6 != "0") {
                alerta += "- El campo Tipo de Programa es obligatorio. \n "
            }

            if (@ViewBag.Error7 != "0") {
                alerta += "- Este correo ya ha sido registrado. \n "
            }

            if (@ViewBag.Error8 != "0") {
                alerta += "- Este número de documento ya está registrado. \n "
            }
            swal("Error", "" + alerta, "error");

        });
    </script>
}

<script>

    $(document).ready(function () {

        var TipoPersona = $('#TipoPersonaId option:selected').text();
        if (TipoPersona == "Aprendiz") {
            document.getElementById("Aprendiz").style.display = "block";
        }
    });

    @*$('#RegionalId').change(function () {
        RegionalId = { id: $('#RegionalId').val() };
        var actionUrl = '@Url.Action("ListarCentros", "Personas")';
        $.getJSON(actionUrl, RegionalId, function (data) {
            $('#CentroId').html(" ");
            $("#CentroId").append($("<option></option>").text("Seleccione Uno...").val(0));
            for (var i = 0; i < data.length; i++) {
                var ListaCentro = data[i];
                $("#CentroId").append($("<option></option>").text(ListaCentro.Nombre).val(ListaCentro.CentroId));
            }
        });
    });*@





    $("#TipoPersonaId").change(function () {
        var TipoPersona = $('#TipoPersonaId option:selected').text();
        if (TipoPersona == "Aprendiz") {
            document.getElementById("Aprendiz").style.display = "block";
            $("Aprendiz").css({
                "display": "block"
            });
            $('#Ficha').val("");
        }
        else {
            document.getElementById("Aprendiz").style.display = "none";
            $('#Ficha').val("0000");
        }

    });

    $("#TipoDocumentoId").change(function () {
        var TipoDocumento = $('#TipoDocumentoId option:selected').text();
        if (TipoDocumento == "¿Otro?") {
            document.getElementById("OtroTD").style.display = "block";
        }
        else {
            document.getElementById("OtroTD").style.display = "none";
        }

    });

    $("#TipoPersonaId").change(function () {
        var TipoDocumento = $('#TipoPersonaId option:selected').text();
        if (TipoDocumento == "¿Otro?") {
            document.getElementById("OtroTP").style.display = "block";
        }
        else {
            document.getElementById("OtroTP").style.display = "none";
        }

    });


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
