﻿@model IEnumerable<Sceys.Models.Persona>

@{
    if (!User.IsInRole("Instructores"))
    {
        ViewBag.Title = "Personas";
    }
    else {
        ViewBag.Title = "Aprendices";
    }
}

<link href="~/Content/sceys/main.css" rel="stylesheet" />
<link href="~/Content/sceys/dataTable.css" rel="stylesheet" />

<!--Mapa de navegación-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i> <a href="@Url.Action("About", "Home")" class="alink">Inicio</a>
                </li>
                <li class="">
                    <i class="fa fa-stethoscope"></i> Personas
                </li>
                    @if (User.IsInRole("Instructores"))
                    {
                        <li class="active"><i class="glyphicon glyphicon-list-alt"></i> Lista de Aprendices</li>
                    }
                    else
                    {
                        <li class="active"><i class="glyphicon glyphicon-list-alt"></i> Lista de Personas</li>
                    }
            </ol>
        </div>
    </div>
</div>

<!--Listado de Personas-->
<div class="panel panel-primary">

    @if (User.IsInRole("Instructores"))
    {
        <div class="panel-heading">Aprendices</div>
    }
    else
    {
        <div class="panel-heading">Personas</div>
    }
    <div class="panel-body">
        <section class="content center-block">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group pull-left">

                        @if (User.IsInRole("Instructores"))
                        {
                            <button class="btn btn-info">@Html.ActionLink("Registrar Nuevo Aprendiz", "registrarAprendiz") <span class="glyphicon glyphicon-plus"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-info">@Html.ActionLink("Registrar Nueva Persona", "Create") <span class="glyphicon glyphicon-plus"></span></button>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <ul class="list-inline">
                            <li class="btn btn-success" onclick="aprendiz()">Aprendices</li>
                            @if (!User.IsInRole("Instructores"))
                            {
                                <li class="btn btn-warning" onclick="instructor()">Instructor</li>
                                <li class="btn btn-danger" onclick="funcionario()">Funcionarios</li>
                                <li class="btn btn-default" onclick="todos()">Todos</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pull-left table-responsive">
                    <br />
                    <table class="table table-hover table-striped tblIndex" name="tblIndex" id="tblIndex">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreCompleto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Direccion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroContacto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoPersona.Descripcion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody name="datos" id="datos">

                            @foreach (var item in Model)
                            {

                                if (User.IsInRole("Instructores") && item.TipoPersona.Descripcion == "Aprendiz")
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumeroContacto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TipoPersona.Descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.PersonaId}) |
                                            @Html.ActionLink("Detalles", "Details", new { id = item.PersonaId})|
                                        </td>
                                    </tr>
                                }
                                else if (!User.IsInRole("Instructores"))
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumeroContacto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TipoPersona.Descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.PersonaId}) |
                                            @Html.ActionLink("Detalles", "Details", new { id = item.PersonaId}) |
                                            @*@Html.ActionLink("Inhabilitar", "DeleteConfirmed", new { id = item.PersonaId })*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/Scripts/sceys/dataTable.js"></script>
<script src="~/Scripts/sceys/Manager.js"></script>
